

body{
    background: rgb(236, 199, 210);
}

.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 7%;
    z-index: 10;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  
    background-color: rgb(234, 168, 187);
    
    padding: 0px 0px;
  
    border-radius: 1em/3em;
    color: black;
    
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 30px;
    list-style: none;
  
  }

  .navbar a {
    
    font-weight: bold;
    margin: 0 12px;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
  }

  .navbar a:hover {
    text-decoration: underline;
  }
  


  main {
    padding: 0 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .download-button{
     background-color: rgb(234, 168, 187); ;
  }

  .logo{
    font-size: larger;
  }

  .nav-list{
    font-size: medium;
  }

  .section{
    background-color:rgb(234, 168, 187);
    border-radius: 15px;
    background-size: 200;
    background-size: auto;
    margin: 0px auto;
    width: 70%;
  }

  
  .about-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color:rgb(234, 168, 187);
    margin:0 100px;
    padding-right: 10px;
  }

  .section-title{
    font-family: 'Times New Roman', Times, serif;
  }

  .entry-info{
    font-family: 'Times New Roman', Times, serif;
  }


  .skill-list{
    font-family: 'Times New Roman', Times, serif;
  }
  .section{
    font-family: 'Times New Roman', Times, serif;
  }
  
  .download-button{
    background-color: rgb(234, 168, 187);
    text-decoration: none;
    color: black;
  }

  .download-button a{
    text-decoration: none;
    color: black;
  }

  .download-button a:hover {
    text-decoration: underline;
  }

  .learn-more{
    background-color: rgb(234, 168, 187);
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .learn-more a{
    text-decoration: none;
    color: black;
  }

  .learn-more a:hover {
    text-decoration: underline;
  }
  .project-name{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .project-description{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  img{
    display: block;
    width: 20%;
    margin: auto;
    margin-bottom: 10px;
    border: white;
  }

  .home-image{
    margin: auto;
    display: block;
    width: 90%;
  }
